<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Library | adarshbalika Portfolio</title>

    <!-- including style sheet -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>krushna's component library</h1>
    <p>I am attending neog.camp and I want to make a library which would mak all my projects look good and consistent.</p>
    <p>
        After creating this library i am going to use the components in my <strong>portfolio, blog and all projects</strong> created. This will ensure that all my projects have <strong>consistent themeing and styling</strong></p>
    <hr>

    <h2>@typography</h2>
    <h1>This is the biggest heading</h1>
    <h2>This is the second biggest heading</h2>
    <p>Paragraph: Let me show you the normal text. This is free flowing and will wrap at the end like a paragraph.</p>
    <small>This is relatively smaller text</small>

    <hr>

    <h2>@containers</h2>

    <h3>@fluid container</h3>
    <div class="container-fluid">
        This is going to be a fluid container. It will go full widht of page. With some margin.
    </div>

    <h3>@center container</h3>
    <div class="center-container">
        This is going to be a center container. It will go till a given widht and center content.
    </div>

    <hr>

    <h2>@links</h2>
    <div class="links">
        <a class="primary-btn" href="/">Primary Link</a>
        <a class="secondary-btn" href="/">Secondary Link</a>
    </div>

    <hr>

    <h2>@lists</h2>
    <h3>unordered lists</h3>
    <p>We don't want to show bullets in the unordered list. We'll remove that with CSS.</p>

    <ul class="hidden-list-bullets ">
        <li> item one </li>
        <li> item two </li>
        <li> item three </li>
    </ul>

    <h3>inline lists</h3>
    <p>Instead of going in a new row, we will create a list which will take columns.</p>

    <ul class="hidden-list-bullets">
        <li class="list-inline"> item one </li>
        <li class="list-inline"> item two </li>
        <li class="list-inline"> item three </li>
    </ul>

    <h3>reverse ordered list</h3>
    <p>Counting of will go reverse for this list</p>
    <ol reversed>
        <li> something </li>
        <li> something else</li>
        <li> something elser</li> 
    </ol>

    <hr>

    <h2>@nav</h2>
    <p>Navigation is used on the top of the page and used to get to different pages.</p>
    <div class="navbar">
        <div class="container-fluid">
            <p class="nav-heading">iAmBrand</p>
            <ul class="hidden-list-bullets links nav-list">
                <li class="list-inline link-active"> <a href="/">home</a></li>
                <li class="list-inline"> <a href="/">products</a></li>
                <li class="list-inline"> <a href="/">about</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <h2>@header</h2>
    <header class="center-container">
        <img class="hero-img" src="../assets/hero.svg" alt="hero image">
        <h1 class="hero-heading">Krushna Dike the <br> <span class="text-highlighter">Web Developer</span></h1>
    </header>

    <hr>

    <h2>@section</h2>
    <p>A section is used to separate parts of pages. In marketing websites you would have soon a header follwed by sections of features, team, pricing, contact info ecc.</p>

    <h3>@white section</h3>
    <section class="section">
        <div class="center-container links">
            <h1 style="text-align: center;">heading inside section</h1>
            <p>This will have white background</p>
            <a class="primary-btn" href="/" target="_blank">Primary Button</a>
        </div>
    </section>

    <h3>@off white section</h3>
    <section class="section ow-section">
        <div class="center-container links">
            <h1 style="text-align: center;">inside off-white section</h1>
            <p>This will have gray background</p>
            <a class="primary-btn" href="/" target="_blank">Primary Button</a>
        </div>
    </section>

    <hr>

    <h2>@footer</h2>
    <footer class="footer container-fluid">
        <div class="center-container container-fluid">
            <div class="heading">Some small heading inside header</div>
            <ul class="hidden-list-bullets">
                <li class="list-inline">socialone</li>
                <li class="list-inline">socialtwo</li>
                <li class="list-inline">socialthree</li>
            </ul>
        </div>
    </footer>
</body>
</html>